@{
    ViewBag.Title = "Incio";
}


<div class="row">
    <div class="col-md-4">
        <h2>Comienza ahora</h2>
        <br />
        <br />
        <br />
        <center><img src="~/Content/img/img/robot-intro/Robot.jpg" /></center>
        <p>
            Nunca ha sido tan facil y rapido apartar los espacios academicos que ofrece la UDEC con lo que tendras mas tiempo para hacer lo que mas te guste.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Solo toma unos minutos</h2>
        <center><img src="~/Content/img/img/robot-intro/robot2.jpg" /></center>
        <br />
        <br />
        <p>Solo te tomaras unos minutos consultar y apartar el espacio academico.</p>
    </div>
    <div class="col-md-4">
        <h2>Proximamente mas</h2>
        <br />
        <br />
        <center><img src="~/Content/img/img/robot-intro/robot3.jpg" /></center>
        <br />      
        <p>Disfruta de esta nueva herramienta</p>
    </div>
</div>