@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Comienza ahora</h2>
        <br />
        <br />
        <br />
        <center><img src="~/Content/img/img/robot-intro/Robot.jpg" /></center>
        <p>
            Nunca ha sido mas facil y rapido apartar los salones de la UDEC con lo que tendras mas tiempo para hacer lo que mas te guste
        </p>

    </div>
    <div class="col-md-4">
        <h2>Solo toma unos minutos registrarte</h2>
        <center><img src="~/Content/img/img/robot-intro/robot2.jpg" /></center>
        <p>Solo te tomaras unos minutos registrarte y usar las potentes herramientas que te ofrecemos</p>
    </div>
    <div class="col-md-4">
        <h2>Proximamente mas</h2>
        <br />
        <br />
        <br />
        <center><img src="~/Content/img/img/robot-intro/robot3.jpg" /></center>
        <p>Y no se que mas ponerle</p>
    </div>
</div>