@model SREA.Models.Salon

@{
    ViewBag.Title = "Salones y Laboratorios - Inicio";
}

<h2>Inicio</h2>

<h4>Salones y Laboratorios</h4>

<font>En esta Seccion se podra consultar, ingresar, editar y borrar los Salones y Laboratorios que se encuentran en el campus</font>
<hr />
<ul class="list-group">
    <li class="list-group-item active list-group-item-heading"><span class="glyphicon glyphicon-cog"></span><font color="white"> Salones y Laboratorios</font></li>
    <li class="list-group-item"><span class="glyphicon glyphicon-list-alt"></span>@Html.ActionLink(" Lista de Salones y Laboratorios", "Lista", "Salones")</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>@Html.ActionLink(" Agregar Salones y Laboratorios", "Create", "Salones")</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-edit"></span>@Html.ActionLink(" Modificar o Eliminar Registro de Salones y Laboratorios", "Modificar", "Salones")</li>
</ul>

<div>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Administrar", "Personas")'">Regresar</button>
</div>

