@model SREA.Models.Edificio

@{
    ViewBag.Title = "Edificios - Inicio";
}

<h2>Inicio</h2>

<h4>Planta Fisica</h4>

<font>En esta Seccion se podra consultar, ingresar, editar y borrar los edificios que conforman el campus</font>
<br />
<ul class="list-group">
    <li class="list-group-item active list-group-item-heading"><span class="glyphicon glyphicon-cog"></span><font color="white"> Edificos</font></li>
    <li class="list-group-item"><span class="glyphicon glyphicon-list-alt"></span>@Html.ActionLink(" Lista de Edificios", "Lista", "Edificios")</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>@Html.ActionLink(" Agregar Edificio", "Create", "Edificios")</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-edit"></span>@Html.ActionLink(" Modificar o Eliminar Registro del Edificio", "Modificar", "Edificios")</li>    
</ul>

<div>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Administrar", "Personas")'">Regresar</button>
</div>



