@model IEnumerable<SREA.Models.Edificio>

@{
    ViewBag.Title = "Lista";
}

<h2>Lista de Edificios</h2>

<table class="table">
    <tr class = "success">
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            Opciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Detalles", "Details", new { id=item.ID_Edificio })
        </td>
    </tr>
}

    
</table>

<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Edificios")'">Regresar</button>
