
@{
    ViewBag.Title = "Persona - Inicio";
}

<h4>Usuarios</h4>
<br />
<font>En esta Seccion podra consultar, ingresar, modificar y eliminar los usuarios que se encuentren registados:</font>
<ul class="list-group">
    <li class="list-group-item active list-group-item-heading"><span class="glyphicon glyphicon-cog"></span><font color="white"> Usuarios</font></li>
    <li class="list-group-item"><span class="glyphicon glyphicon-user"></span>@Html.ActionLink(" Lista Usuarios", "Listado_Usuarios", "Personas")</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>@Html.ActionLink(" Agregar", "Create", "Personas")</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-edit"></span>@Html.ActionLink(" Modificar o Eliminar", "Modificar", "Personas")</li>
</ul>

<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Administrar", "Personas")'">Regresar</button>